h1{
    font-family: 'Righteous', cursive;
    text-align: center;
}
h2{
    font-family: 'Righteous', cursive;
    padding: 0px 10px 10px 20px;
}
p{
    text-align: center;
    font-family: 'Didac Gothic', sans-serif;
    padding: 0px 10px 10px 20px;
}
.projectcontainer{
    background-color: cornsilk;
    border-radius: 20px;
    box-shadow: 10px 10px 3px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.projectcontainer:hover{
    background: lightgrey;
}