<div class="row">
            <i class="material-icons pawicon">pets</i>
            <h3>My Pets</h3>
            <br><br>
            <p class="pawtext">
            Just some pictures of my dogs for fun. 
            own 2 black cocker spaniels named 
            Libby (the smaller one) and Harlan (the chunky one).
            </p>
</div>
<div class="row">
    <div class="row col-sm-6" id="containercarousel">
        <div id="harlanbackground">
            <ngbd-carousel-basic></ngbd-carousel-basic>
        </div>
    </div>
    <div class=" row col-sm-6" id="containerpic">
        <div id="libbybackground">
            <img src="https://i.imgur.com/3Z6pQpO.jpg" title="source: imgur.com" id="libbypicture"/>
        </div>
    </div>
</div>

